SAST_AI_ENVIRONMENT=development
SAST_AI_HOST=127.0.0.1
SAST_AI_PORT=8001
SAST_AI_BACKEND_BASE_URL=http://127.0.0.1:8000
SAST_AI_SOURCE_REPO_ROOT=../tugas-akhir
SAST_AI_ACTIVE_RELEASE_FILE=./var/active_release.json
SAST_AI_DEFAULT_DEVICE=cpu
SAST_AI_AUTOLOAD_PERSISTED_RELEASE=false
